<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCATFnrBLKJCp25JeLlaebrBudcFmdGyzI</string>
	<key>GCM_SENDER_ID</key>
	<string>955908251589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meuvesti.fabricacamisaria</string>
	<key>PROJECT_ID</key>
	<string>sua-fabrica-5c49d</string>
	<key>STORAGE_BUCKET</key>
	<string>sua-fabrica-5c49d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955908251589:ios:3854eb340a651693d8f5ac</string>
</dict>
</plist>